<!-- side bar: NO side-bar should be shown for the list view -->

<!-- Define the result-id selection stuff -->
#set( $result_item = $labels.getString("result.page") )
#set( $result_of = $labels.getString("result.of") )
#set( $result_go = $labels.getString("result.go") )
#set( $view = 'detail' )

  <div id="dbdetails" class="large-16 medium-16 small-16 dbresult-pane tab-pane lightbg haspadding">
    <div id="dbdetails_status" class="row">
      <i>(no details available)</i>
    </div>
    <div id="dbdetails_error" class="row errorcode"></div>
    <div id="sentdetails_feats"></div>
    <!-- Horizontal line -->
    <div class="gradient"></div>
    <!-- Provide options to go to one particular result -->
    <div id="dbdetails_select" class="large-16 medium-16 small-16 row">
      <!-- (3) Center-aligned page-chooser and "GO" button -->
    </div>
    <!-- Fieldset of the information the user can edit -->
    <div id="dbdetails_editable">
      <form>
        <fieldset>
          <legend>Result: <span id="dbdetails_currentid"></span></legend>
          <div class='row large-16 medium-16 small-16'>
            <!-- General information that can not be changed -->
            <div id="dbdetails_rdonly" class='large-7 medium-7 small-7 columns'></div>
            <div class='large-9 medium-9 small-9 columns'>
              <!-- Notes -->
              <div class="row">
                <label>$labels.getString("dbase.details.notes"):
                  <textarea id="dbase_details_notes"  spellcheck="false" placeholder="Notes on this entry" rows="5"></textarea>
                </label>
              </div>
            </div>
          </div>
          <div class='row large-16 medium-16 small-16'>
            <div id="dbdetails_text" class="row hidden">
              <!-- Programmatically determined text of the currently selected item -->
            </div>
            <!-- Room for the graphics to be displayed when user wants to -->
            <div id="dbdetails_svg" class="row">
              <dl class="sub-nav">
                <dt>Show the tree of:</dt>
                <dd><a onclick="crpstudio.dbase.showDetailSvg(this, 'all')">Sentence</a></dd>
                <dd><a onclick="crpstudio.dbase.showDetailSvg(this, 'hit')">Hit</a></dd>
              </dl>
              <div id="dbdetails_svg_all" class="row hidden"></div>
              <div id="dbdetails_svg_hit" class="row hidden"></div>
            </div>
          </div>
        </fieldset>
        <!-- Features -->
        <fieldset>
          <legend>Features</legend>
          <!-- Dynamically adaptable place for features -->
          <div id="dbdetails_feats">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

