<!-- side bar: names of databases of this user -->
<!-- <div id="dbaselist" class="large-16 medium-16 small-16 row"> -->


  <!-- the part to the right of the side-bar may contain contents of this database -->
  <div id="dbase_general_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="dbase_general_description" class="large-16 medium-16 small-16 row">
          <i>(no database selected)</i>
        </div>
        <div id="dbase_general" class="large-16 medium-16 small-16 row hidden">
          <div id="dbase_general_top" class="large-16 medium-16 small-16 row">
            <!-- The top-left contains DB NAME, PROJECT NAME, CORPUS and NOTES -->
            <div id="dbase_general_left" class="large-11 medium-11 small-11 columns">
              <!-- Database DB NAME -->
              <div class="large-16 medium-16 small-16 row">
                <div class="large-6 medium-6 small-6 columns">
                  <label for="right-label" class="right inline">$labels.getString("dbase.general.namedb")</label>
                </div>
                <div class="large-10 medium-10 small-10 columns">
                  <div class="large-16 medium-16 small-16 row collapse">
                    <div class="large-14 medium-14 small-14 columns">
                      <input id="dbase_general_namedb" class="general_input" type="text" placeholder="name (no spaces)">
                    </div>
                    <div class="large-2 medium-2 small-2 columns">
                      <span class="postfix">.xml</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="large-16 medium-16 small-16 row">
                <!-- Project PRJ NAME -->
                <div class="large8 medium-8 small-8 columns">
                  <div class="row">
                    <div class="large-6 medium-6 small-6 columns">
                      <label for="right-label" class="right inline">$labels.getString("dbase.general.nameprj")</label>
                    </div>
                    <div class="large-10 medium-10 small-10 columns">
                      <input id="dbase_general_nameprj" class="general_input" type="text" placeholder="name of project">
                    </div>
                  </div>
                </div>
                <!-- Database LNG -->
                <div class="large8 medium-8 small-8 columns">
                  <div class="row">
                    <div class="large-6 medium-6 small-6 columns">
                      <label for="right-label" class="right inline">$labels.getString("dbase.general.corpus")</label>
                    </div>
                    <div class="large-10 medium-10 small-10 columns">
                      <select id="dbase_general_corpus" class="general_input"  placeholder="kind of project">
                        ${corpuslist}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project's GOAL -->
              <div class="large-12 medium-12 small-12 row">
                <label>$labels.getString("project.general.goal")
                  <textarea id="project_general_goal" spellcheck="false" placeholder="goal of this project" rows="3"></textarea>
                </label>
              </div>
            </div>
            <!-- The top-right contains data and project-specific preferences -->
            <div id="project_general_right" class="large-5 medium=5 small-5 columns">
              <fieldset><legend>Dates</legend>
                <div class="row">$labels.getString("project.general.datecreated"): 
                  <div id="project_general_datecreated" class="general_date">-</div></div>
                <div class="row">  </div>
                <div class="row">$labels.getString("project.general.dateedited"): 
                  <div id="project_general_datechanged" class="general_date">-</div></div>
                <div class="row">  </div>
              </fieldset>
            <!-- ======================= THIS should not longer be necessary
              <div class="row collapse">
                <input type="checkbox" id="project_general_showsyn">
                <label for="project_general_showsyn">$labels.getString("project.general.showsyn")</label>
              </div>
              ========================== -->
              <fieldset><legend>Additional</legend>
                <div class="row">
                  <input type="checkbox" id="project_general_dbase">
                  <label for="project_general_dbase">$labels.getString("project.general.dbase")</label>
                </div>
              </fieldset>
            </div>
          </div>
          <!-- The bottom contains the comments for this project -->
          <div id="project_general_bottom" class="large-16 medium-16 small-16 row">
            <label>$labels.getString("project.general.comments"):
              <textarea id="project_general_comments"  spellcheck="false" placeholder="Comments on this project" rows="20"></textarea>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

