  <!-- the part to the right of the side-bar: GENERAL contents of this dbfeat -->
  <div id="dbf_general_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="dbf_description" class="large-16 medium-16 small-16 row">
          <i>(no dbfeat selected)</i>
        </div>
        <div id="dbf_general" class="large-16 medium-16 small-16 row hidden">
          <div id="dbf_general_top" class="large-16 medium-16 small-16 row">
            <!-- DbFeat QCNAME -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-2 medium-3 small-4 columns">
                <label for="right-label" class="left inline">$labels.getString("dbfeat.general.qcname")</label>
              </div>
              <div class="large-9 medium-8 small-7 columns left">
                <input id="dbf_general_qcname" disabled class="left general_input disabled" type="text" placeholder="name (no spaces)">
              </div>
            </div>
            <!-- DbFeat NAME -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-2 medium-3 small-4 columns">
                <label for="right-label" class="left inline">$labels.getString("dbfeat.general.name")</label>
              </div>
              <div class="large-9 medium-8 small-7 columns left">
                <input id="dbf_general_name" class="left general_input" type="text" placeholder="name (no spaces)">
                <small id="dbf_general_name_error" class="hidden">Name must be new and not have spaces</small>
              </div>
            </div>
            <!-- DbFeat PRE -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-5 medium-5 small-5 columns left">
                <input type="checkbox" id="dbf_general_pre">
                <label for="dbf_general_pre">$labels.getString("dbfeat.general.pre")</label>
              </div>
            </div>
            <div class="large-16 medium-16 small-16 row">
              <div class="large-3 medium-3 small-3 columns left">
                <a href="#" class="button tiny postfix-radius" onclick="crpstudio.project.dbfeatMove('up')">$labels.getString("dbfeat.general.up")</a>
              </div>
              <div class="large-3 medium-3 small-3 columns left">
                <a href="#" class="button tiny postfix-radius" onclick="crpstudio.project.dbfeatMove('down')">$labels.getString("dbfeat.general.down")</a>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>