<!-- side bar: names of databases of this user -->

  <!-- the part to the right of the side-bar may contain contents of this database -->
  <div id="dbase_general_explorer" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <!-- (1) DESCRIPTION of database -->
        <div id="dbase_expl_description" class="large-16 medium-16 small-16 row">
          <i>(no database selected)</i>
        </div>
        <!-- (2) SUMMARY of database (and perhaps some EDITING) -->
        <div id="dbase_expl" class="large-16 medium-16 small-16 row hidden">
          <!-- Project's SUMMARY -->
          <fieldset><legend>$labels.getString("dbase.summary")</legend>
            <div class="panel"></div>
          </fieldset>
        </div>
        <!-- (3) UPLOADING of a database -->
        <div id="dbase_expl_upload" class="large-16 medium-16 small-16 row hidden">
          <!-- Progress indication -->
          <div class="small-8 medium-8 large-8 columns">
            <div class="large-16 medium-16 small-16 row">$labels.getString("dbase.upload.start")</div>
            <!-- Progress bar: indicating the number of files that have started -->
            <div class="progress alert round ">
              <span id="agentdb007" class="meter" style="width: 0%"></span>
            </div>
            <!-- Progress bar: indicating the number of files that have beenprocessed -->
            <div class="progress success round ">
              <span id="agentdb008" class="meter" style="width: 0%"></span>
            </div>
            <div id="dbase_expl_upload_status" class="large-16 medium-16 small-16 row">
              <!-- Upload status information when a database is being uploaded -->
            </div>
          </div>
          <!-- STOP with uploading (if possible) -->
          <div id="dbase_upload_cancel" class="small-2 medium-2 large-2 columns left">
            <a href="#" onclick="crpstudio.dbase.uploadStop()" class="button radius reset small secondary">
              <span>$labels.getString("dbase.upload.cancel")</span>
            </a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

