<!-- side bar: names of databases of this user -->
<!-- <div id="dbaselist" class="large-16 medium-16 small-16 row"> -->


  <!-- the part to the right of the side-bar may contain contents of this database -->
  <div id="dbase_general_explorer" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="dbase_expl_description" class="large-16 medium-16 small-16 row">
          <i>(no database selected)</i>
        </div>
      </fieldset>
    </form>
  </div>

