  <!-- the part to the right of the side-bar: GENERAL contents of this definition -->
  <div id="def_general_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="def_description" class="large-16 medium-16 small-16 row">
          <i>(no definition selected)</i>
        </div>
        <div id="def_general" class="large-16 medium-16 small-16 row hidden">
          <div id="def_general_top" class="large-16 medium-16 small-16 row">
            <!-- Definition NAME+GOAL -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-12 medium-12 small-12 columns">
                <div class="row">
                  <!-- Definition NAME -->
                  <div class="large-2 medium-3 small-4 columns">
                    <label for="right-label" class="left inline">$labels.getString("definition.general.name")</label>
                  </div>
                  <div class="large-14 medium-13 small-12 columns">
                    <input id="def_general_name" class="left general_input" type="text" placeholder="name (no spaces)">
                    <small id="def_general_name_error" class="hidden">Name must be new and not have spaces</small>
                  </div>
                </div>
                <div class="row">
                <!-- Definition GOAL -->
                  <div class="large-2 medium-3 small-4 columns">
                    <label for="right-label" class="left inline">$labels.getString("definition.general.goal")</label>
                  </div>
                  <div class="large-14 medium-13 small-12 columns">
                    <input id="def_general_goal" class="left general_input" type="text" placeholder="This definition's goal is ...">
                  </div>
                </div>
              </div>
              <div class="large-4 medium-4 small-4 columns">
                <div class="row">$labels.getString("definition.general.datecreated"): 
                  <div id="def_general_datecreated" class="crpstudio_general_date">-</div></div>
                <div class="row">  </div>
                <div class="row">$labels.getString("definition.general.dateedited"): 
                  <div id="def_general_datechanged" class="crpstudio_general_date">-</div></div>
                <div class="row">  </div>
              </div>
            </div>
            <!-- Definition's COMMENT -->
            <div class="large-16 medium-16 small-16 row">
              <label>$labels.getString("definition.general.comments")
                <textarea id="def_general_comment" spellcheck="false" placeholder="Description of this definition" rows="3"></textarea>
              </label>
            </div>          
          </div>
          <!-- XQUERY TEXT: The bottom contains the text of the definition itself -->
          <div id="def_general_bottom" class="large-16 medium-16 small-16 row cm-s-default" onclick="crpstudio.project.toggleBottom('definition')">
            <label><span>$labels.getString("definition.general.text"):</span>
                   <span id="def_general_bottom_large" class="clickable">$labels.getString("definition.general.large")</span>
                   <span id="def_general_bottom_small" class="clickable hidden">$labels.getString("definition.general.small")</span>
            </label>
            <textarea id="def_general_text" spellcheck="false" placeholder="Text of this definition" rows="20"></textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
