		<div class="footer">CorpusStudioWeb v0.2.3 (5/nov/2015) &copy; 
      <a href="http://www.meertens.knaw.nl">Meertens Instituut</a> 2015 - 
      Development: <a href="http://www.clarin.nl">CLARIN-NL</a> - 
      Powered by: <a href="https://github.com/ErwinKomen/CrppServer" target="_blank">Crpp Server</a> &copy; 
      <a href="http://www.meertens.knaw.nl">Meertens Instituut</a> 2015</div>
		<script>
			Crpstudio.baseUrl = location.pathname.replace(/^\/([^\/]+)\/.*$/, "/$1/");
			Crpstudio.crppUrl = '$labels.getString("crppUrlInternal")/';
			Crpstudio.blsUrl = '$labels.getString("blsUrlExternal")/$labels.getString("corpus")/';
			
			#if($lang)
				Crpstudio.language = "$lang";
			#end
      #if($username)
        Crpstudio.setUser("${username}");
      #end
		
			$(document).foundation();
			
			$(function() {
				var state = Crpstudio.cookies.checkCookie('corpusstudio');
				if (state !== undefined) {
					$("div.cookies").removeClass("active");
					$("nav.topbar").css({top : 0});
				} else {
					$("div.cookies").addClass("active");
					$("nav.topbar").css({top : 50});
				}
				Crpstudio.tab = "$maintab";
				#if($maintab == "home")
					Crpstudio.home.setSizes();
					$( window ).resize(function() {
						Crpstudio.home.setSizes();
					});
				#elseif($maintab == "corpora")
					Crpstudio.corpora.setSizes();
					$( window ).resize(function() {
						Crpstudio.corpora.setSizes();
					});
				#elseif($maintab == "dbases")
					Crpstudio.dbase.setSizes();
					$( window ).resize(function() {
						Crpstudio.dbase.setSizes();
					});
				#elseif($maintab == "projects")
					Crpstudio.project.tab = "$tab";
					Crpstudio.project.setSizes();
					$( window ).resize(function() {
						Crpstudio.project.setSizes();
					});
				#elseif($maintab == "about")
					Crpstudio.about.setSizes();
					$( window ).resize(function() {
						Crpstudio.about.setSizes();
					});
				#end
			});

			$(document).keypress(function(e) {
			    if(e.which == 13 && Crpstudio.tab === 'projects' && 
              (Crpstudio.project.tab === 'simple' || 
                Crpstudio.project.tab === 'extended' || 
               Crpstudio.project.tab === 'advanced')) {
			    	$( "#"+Crpstudio.project.tab ).find(".search").trigger( "click" );
			    }
			});
			
			$(document).mouseup(function (e) {
			    var container = $("#advanced ul.options");
			
			    if (!container.is(e.target) // if the target of the click isn't the container...
			        && container.has(e.target).length === 0) // ... nor a descendant of the container
			    {
			        container.parent().removeClass("active");
			    }
			});
			
		</script>
	</body>
</html>