#if($lang == "nl")
	#set($nl="currentLang")
	#set($en="")
#else
	#set($en="currentLang")
	#set($nl="")
#end
#set($t = $labels.getString("title"))
#set($d = $labels.getString("description"))
#set($project = $labels.getString("project"))
#set($user = $labels.getString("user"))
#set($corpusTitle = $labels.getString("corpus.title"))
#set($dbTitle = $labels.getString("dbase.title"))
#set($projectSaved = $labels.getString("project.saved"))
<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="utf-8">
    <meta name="description" content="$!d">
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="./static/img/apple-touch-icon-144x144-precomposed.png" />
    <meta property="og:description" content="$!d"/>
    <title>$!t</title>
    <link rel="icon" type="image/png" href="./static/img/favicon.png">
    <link rel="apple-touch-icon" href="./static/img/apple-touch-icon.png">
    <link rel="stylesheet" href="./static/css/foundation.css" type='text/css' /> <!-- -->
    <link rel="stylesheet" href="./static/css/foundation.min.css" type='text/css' /> <!-- -->
    <link rel="stylesheet" href="./static/css/foundation-datepicker.min.css" type='text/css' />
    <link rel="stylesheet" href="./static/css/crpstudio.css" type='text/css' />
    <link rel="stylesheet" href="./static/css/introjs.css" type='text/css' />

    <link rel="stylesheet" href="./static/css/codemirror.css" type='text/css' />
    <link rel="stylesheet" href="./static/css/xq-dark.css" type='text/css' />
    <link rel="stylesheet" href="./static/css/xq-light.css" type='text/css' />
    <link rel="stylesheet" href="./static/css/xq-light2.css" type='text/css' />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<!--
    <script type="text/javascript" src="./static/js/foundation.min.js"></script>
    <!-- -->
    <script type="text/javascript" src="./static/js/foundation.js"></script>
    <script type="text/javascript" src="./static/js/foundation.slider.js"></script> 
    <!--  -->
    <script type="text/javascript" src="./static/js/foundation.accordion.js"></script>
    <script type="text/javascript" src="./static/js/foundation-datepicker.min.js"></script>
    <script type="text/javascript" src="./static/js/ajax_retriever.js"></script>
    <script type="text/javascript" src="./static/js/scrollTableBody.js"></script>

    <script type="text/javascript" src="./static/js/codemirror.js"></script>
    <script type="text/javascript" src="./static/js/xquery.js"></script>
<!-- ============================ WEG ========================================
    <script type="text/javascript" src="./static/js/parsexquery.js"></script>
    <script type="text/javascript" src="./static/js/tokenizexquery.js"></script>
    ========================================================================== -->

    <script type="text/javascript" src="./static/js/crpstudio.config.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.list.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.corpora.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.tree.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.dbase.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.project.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.input.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.xquery.js"></script>
    <script type="text/javascript" src="./static/js/crpstudio.result.js"></script>
    <script type="text/javascript" src="./static/js/intro.js"></script>
    <script>
      function initTreemap() {
        console.log("Initializing treemap");
        Crpstudio.explore.treemap = document.getElementById('treemap-display').contentWindow;
        Crpstudio.explore.treemap.setLanguage('$lang');
        $("#treemap input[value='$!field']").prop("checked",true);
        Crpstudio.explore.getTreemapData('$!field');
      }
    </script>
  </head>
<body>
<!--[if lt IE 9]>
<br/><br/><br/>
<div class="alert alert-warning">
<h1>Error: Incompatible browser.</h1>
<p>You are using an <strong>outdated</strong> browser which cannot display this website correctly. Please use the latest version of <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> instead.</p>
</div>
<![endif]-->
<div class="cookies">
        <span class="info">$labels.getString("cookies.line1") <a href="$" onclick="crpstudio.main.cookies.accept();" class="button radius tiny">OK</button></a>
        <span class="info">$labels.getString("cookies.line2")</span>
</div>
    <!-- Keep the navigation in a special section -->
    <div class="contain-to-grid sticky">
      <!-- Highest top-bar with user/corpus/project information -->
      <nav class="top-bar where-are-we" data-topbar data-options="sticky_on: large, custom_back_text: true, back_text; ''">
        <section class="top-bar-section">
          <!-- Additional user/project information in the top-bar -->

          <li id="top_bar_current_user" class="name">$user: 
            <div class="label">
              #if($username) 
                ${username} 
              #else  
                -
              #end
            </div>
            <div class="DivHelper"></div>
          </li>
          <!-- Provide LOGOFF feature if user is logged in -->
          #if($username && $username != "" && $username != "-")
            <li class="name"><a href="#" onclick="crpstudio.main.logoff();">$labels.getString("login.logout")</a></li>
          #end
          <li class="name">$project:<div id="top_bar_current_project" class="label">-</div><div class="DivHelper"></div></li>
          <li class="name">$corpusTitle:<div id="top_bar_current_corpus" class="label">-</div><div class="DivHelper"></div></li>
          <li class="name">$dbTitle:<div id="top_bar_current_dbase" class="label">-</div><div class="DivHelper"></div></li>
          <li class="name"><span class="hidden">$projectSaved:<div id="top_bar_saved_project" class="label">-</div><div class="DivHelper"></div></span></li>
            <!-- Right Nav Section -->
            <div id="nav-right" class="medium-3 large-5 columns right show-for-medium-up">
              <div>
                <a href="#"><img id="navLogo" src="./static/img/logo_cs_white.png" /></a>
              </div>
            </div>
        </section>
      </nav>
      <!-- Second top-bar containing navigation items -->
      <nav class="top-bar" id="for-navigation" data-topbar  data-options="sticky_on: large">
        <section class="top-bar-section">
          <div class="small-16 medium-16 large-16 row">
            <div class="small-16 medium-13 large-11 columns">
              <!-- Left Nav Section -->
              <ul id="navLeft" class="left">

                <!-- Define the language buttons -->
                <li class="leftspaced langli hide-for-small-only">
                  <form method="get" action="" name="langform">
                    <a class="langlink" id="nl" onclick="crpstudio.main.switchLanguage('nl')"><img class="$nl" src="./static/img/lang/nl.png" /></a>
                    <a class="langlink" id="en" onclick="crpstudio.main.switchLanguage('en')"><img class="$en"  src="./static/img/lang/en.png" /></a>
                  </form>
                </li>
                <li class="leftspaced hide-for-small-only">
                  #if($maintab && (($maintab == "corpora") || ($maintab == "projects")))
                    <a id="tour-icon" onclick="crpstudio.main.help('$maintab');"><img src="./static/img/info_icon.png"/></a>
                  #else
                    <div style="width: 30px;">&nbsp;</div>
                  #end
                </li>

                <!-- Define the HOME button -->
                #set($home = $labels.getString("home"))
                #if($maintab && $maintab == "home")
                  <li id="main-home" class="leftspaced active"><a onclick="crpstudio.main.switchTab('home')">$home</a></li>
                #else
                  <li id="main-home" class="leftspaced"><a onclick="crpstudio.main.switchTab('home')">$home</a></li>
                #end

                <!-- Define the CORPORA button -->
                #set($corpora = $labels.getString("corpora"))
                #if($maintab && $maintab == "corpora")
                  <li id="main-corpora" class="active"><a onclick="crpstudio.main.switchTab('corpora')">$corpora</a></li>
                #else
                  <li id="main-corpora"><a onclick="crpstudio.main.switchTab('corpora')">$corpora</a></li>
                #end

                <!-- Define the DATABASE button -->
                #set($dbase = $labels.getString("dbases"))
                #if($maintab && $maintab == "dbases")
                  <li id="main-dbase" class="active"><a onclick="crpstudio.main.switchTab('dbases')">$dbase</a></li>
                #else
                  <li id="main-dbase"><a onclick="crpstudio.main.switchTab('dbases')">$dbase</a></li>
                #end

                <!-- Define the PROJECTS button -->
                #set($projects = $labels.getString("projects"))
                #if($maintab && $maintab == "projects")
                  <li id="main-projects" class="active"><a onclick="crpstudio.main.switchTab('projects')">$projects</a></li>
                #else
                  <li id="main-projects"><a onclick="crpstudio.main.switchTab('projects')">$projects</a></li>
                #end

                <!-- Define the ABOUT button -->
                #set($about = $labels.getString("about"))
                #if($maintab && $maintab == "about")
                  <li id="main-home" class="leftspaced active"><a onclick="crpstudio.main.switchTab('about')">$about</a></li>
                #else
                  <li id="main-home" class="leftspaced"><a onclick="crpstudio.main.switchTab('about')">$about</a></li>
                #end
                <!-- Additional user/project information in the top-bar -->
              </ul>
            </div>

          </div>
        </section>
      </nav>
    </div>