#if($lang == "nl")
	#set($nl="currentLang")
	#set($en="")
#else
	#set($en="currentLang")
	#set($nl="")
#end
#set($t = $labels.getString("title"))
#set($d = $labels.getString("description"))
<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
		<meta charset="utf-8">
		<meta name="description" content="$!d">
		<meta name="viewport" content="width=device-width">
		<meta property="og:image" content="./static/img/apple-touch-icon-144x144-precomposed.png" />
		<meta property="og:description" content="$!d"/>
		<title>$!t</title>
		<link rel="icon" type="image/png" href="./static/img/favicon.png">
		<link rel="apple-touch-icon" href="./static/img/apple-touch-icon.png">
		<link rel="stylesheet" href="./static/css/foundation.min.css" type='text/css' />
		<link rel="stylesheet" href="./static/css/crpstudio.css" type='text/css' />
		<link rel="stylesheet" href="./static/css/introjs.css" type='text/css' />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="//www.google.com/jsapi"></script>
	    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});</script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
		<script type="text/javascript" src="./static/js/foundation.min.js"></script>
		<script type="text/javascript" src="./static/js/foundation.accordion.js"></script>
		<script type="text/javascript" src="./static/js/ajax_retriever.js"></script>
		<script type="text/javascript" src="./static/js/crpstudio.js"></script>
		<script type="text/javascript" src="./static/js/crpstudio.corpora.js"></script>
		<script type="text/javascript" src="./static/js/crpstudio.search.js"></script>
		<script type="text/javascript" src="./static/js/intro.js"></script>
		<script>
			function initTreemap() {
				console.log("Initializing treemap");
				Crpstudio.explore.treemap = document.getElementById('treemap-display').contentWindow;
				Crpstudio.explore.treemap.setLanguage('$lang');
				$("#treemap input[value='$!field']").prop("checked",true);
				Crpstudio.explore.getTreemapData('$!field');
			}
		</script>
	</head>
	<body>
		<!--[if lt IE 9]>
		<br/><br/><br/>
		<div class="alert alert-warning">
		<h1>Error: Incompatible browser.</h1>
		<p>You are using an <strong>outdated</strong> browser which cannot display this website correctly. Please use the latest version of <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> instead.</p>
		</div>
		<![endif]-->
		<div class="cookies">
			<span class="info">$labels.getString("cookies.line1") <button onclick="Crpstudio.cookies.accept();" class="tiny">OK</button></span>
			<span class="info">$labels.getString("cookies.line2")</span>
		</div>
		<nav class="top-bar" data-topbar>
			<section class="top-bar-section">
				<div class="row">
					<!-- Left Nav Section -->
					<ul id="navLeft" class="left">

            <!-- Define the language buttons -->
						<li class="leftspaced langli">
							<form method="get" action="" name="langform">
								<a class="langlink" id="nl" onclick="Crpstudio.switchLanguage('nl')"><img class="$nl" src="./static/img/lang/nl.png" /></a>
								<a class="langlink" id="en" onclick="Crpstudio.switchLanguage('en')"><img class="$en"  src="./static/img/lang/en.png" /></a>
							</form>
						</li>
						<li class="leftspaced">
							#if($maintab && ($maintab == "corpora" or $maintab == "search"))
								<a id="tour-icon" onclick="Crpstudio.tour.start();"><img src="./static/img/info_icon.png"/></a>
							#else
								<div style="width: 30px;">&nbsp;</div>
							#end
						</li>

            <!-- Define the HOME button -->
						#set($home = $labels.getString("home"))
						#if($maintab && $maintab == "home")
							<li id="main-home" class="leftspaced active"><a onclick="Crpstudio.switchTab('home')">$home</a></li>
						#else
							<li id="main-home" class="leftspaced"><a onclick="Crpstudio.switchTab('home')">$home</a></li>
						#end

            <!-- Define the CORPORA button -->
						#set($corpora = $labels.getString("corpora"))
						#if($maintab && $maintab == "corpora")
							<li id="main-corpora" class="active"><a onclick="Crpstudio.switchTab('corpora')">$corpora</a></li>
						#else
							<li id="main-corpora"><a onclick="Crpstudio.switchTab('corpora')">$corpora</a></li>
						#end

            <!-- Define the PROJECTS button -->
						#set($projects = $labels.getString("projects"))
						#if($maintab && $maintab == "projects")
							<li id="main-projects" class="active"><a onclick="Crpstudio.switchTab('projects')">$projects</a></li>
						#else
							<li id="main-projects"><a onclick="Crpstudio.switchTab('projects')">$projects</a></li>
						#end

            <!-- Define the SEARCH button -->
						#set($search = $labels.getString("search"))
						#if($maintab && $maintab == "search")
							<li id="main-search" class="active"><a onclick="Crpstudio.switchTab('search')">$search</a></li>
						#else
							<li id="main-search"><a onclick="Crpstudio.switchTab('search')">$search</a></li>
						#end

            <!-- Define the ABOUT button -->
            #set($about = $labels.getString("about"))
            #if($maintab && $maintab == "about")
							<li id="main-home" class="leftspaced active"><a onclick="Crpstudio.switchTab('about')">$about</a></li>
						#else
							<li id="main-home" class="leftspaced"><a onclick="Crpstudio.switchTab('about')">$about</a></li>
						#end
					</ul>

					<!-- Right Nav Section -->
					<div id="nav-right" class="right">
						<div>
							<a href="#"><img id="navLogo" src="./static/img/logo_cs.png" /></a>
						</div>
					</div>
				</div>
			</section>
		</nav>