#set($homeUrl=$labels.getString("homeUrl"))
#parse("header.vm")
  #if(${userokay} && ${userokay} == "true")
    <div class="welcome small-14 medium-14 large-14 small-offset-1 medium-offset-1 large-offset-1">
    <p>$labels.getString("welcome.line1") <b>${userid}</b>. </p>
    #if($corpus.last && $corpus.last != "")
      <p>$labels.getString("welcome.line2") $corpus.last</p>
      #if($project.last && $project.last != "")
        ($project.last)
      #end
    #else
      <p>$labels.getString("welcome.line3")</p>
    #end
    </div>
  #else
    <div class="login small-16 medium-16 large-16 row">   
      <div class="small-12 medium-10 large-8 small-centered medium-centered large-centered columns">
        <p><span class="info">$labels.getString("login.line1")</span>
           <span class="info">$labels.getString("login.line2")</span></p>
        <form id="login_form" method="post" action="j_security_check">
          <table>
            <tr><td>$labels.getString("login.name")</td>
              <td><input type="text" name="j_username"></td></tr>
              <td></td>
            <tr><td>$labels.getString("login.password")</td>
              <td><input type="password" name= "j_password"></td>
              <td><button onclick="crpstudio.main.login.accept();" class="radius tiny">OK</button></td>
              <!-- <td><a href="#" type="submit" form="login_form" onclick="crpstudio.main.login.accept();" class="button radius tiny">OK</a></td> -->
              <!-- <td><input type="button" onclick="crpstudio.main.login.accept();" class="button radius tiny">OK</td> -->
            </tr>
          </table>
        </form>
      </div>
    </div>
  #end
  <iframe id="homepage" src="$!homeUrl"></iframe>
#parse("footer.vm")