#set($new_project_manual = $labels.getString("project.create.manual"))
#set($new_project_wizard = $labels.getString("project.create.wizard"))

<!-- side bar: names of projects of this user -->
<div id="crplist" class="large-16 medium-16 small-16 row">
  <!-- the left side-bar used for selecting a project -->
  <div id="project_selector_new" class="large-4 medium-4 small-4 columns">
    <div class="sidebar">
      <h5>${project}</h5>
      <div id="project_download" class="row hidden">
        <span>$labels.getString("result.export.intro"): </span>
        <span id="project_download_file"></span>
      </div>
      <nav>
        <ul id="project_list" class="side-nav">
          <!-- Actions to CREATE/ADD/LOAD a CRP -->
          <li class="heading crp-new" onclick="Crpstudio.project.sideToggle(this, 'crp-new')"><label>$labels.getString("project.new")</label></li>
          <li class="crp-new hidden">
            <a id="project-upload" onclick="$('#project-upload-input').click();">$labels.getString("project.upload")</a>
            <input id="project-upload-input" class="uploadfile" type="file" onchange="Crpstudio.project.uploadCrpFile(this);">
          </li>
          <li class="crp-new hidden"><a id="project-createM" href="#" onclick="Crpstudio.project.createManual(this);">$labels.getString("project.create.manual")</a></li>
          <li class="crp-new hidden"><a id="project-createW" href="#" onclick="Crpstudio.project.createWizard(this);">$labels.getString("project.create.wizard")</a></li>

          <!-- Actions on CURRENTLY loaded CRP -->
          <li class="divider crp-current"></li>
          <li class="heading crp-current" onclick="Crpstudio.project.sideToggle(this, 'crp-current')"><label>$labels.getString("project.current")</label></li>
          <li class="crp-current hidden"><a id="project-download" href="#" onclick="Crpstudio.project.downloadCrpFile(this);">$labels.getString("project.download")</a></li>
          <li class="crp-current hidden"><a id="project-remove" href="#" onclick="Crpstudio.project.removeCrpFile(this);">$labels.getString("project.remove")</a></li>

          <!-- Most RECENTly used CRP (just 1, if any) -->
          <li class="divider crp-recent"></li>
          <li class="heading crp-recent" onclick="Crpstudio.project.sideToggle(this, 'crp-recent')"><label>$labels.getString("project.recent")</label></li>
          ${recentcrp}

          <!-- List of AVAILABLE CRPs -->
          <li class="divider crp-available"></li>
          <li class="heading crp-available" onclick="Crpstudio.project.sideToggle(this, 'crp-available')"><label>$labels.getString("project.available")</label></li>
          ${projecttable}
        </ul>
      </nav>
    </div>
  </div>

  <!-- the part to the right of the side-bar: GENERAL contents of this project -->
  <div id="project_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="project_description" class="large-16 medium-16 small-16 row">
          <i>(no project selected)</i>
        </div>
        <div id="project_general" class="large-16 medium-16 small-16 row hidden">
          <div id="project_general_top" class="large-16 medium-16 small-16 row">
            <!-- The top-left contains name, author, type and goal -->
            <div id="project_general_left" class="large-11 medium-11 small-11 columns">
              <!-- Project NAME -->
              <div class="large-16 medium-16 small-16 row">
                <div class="large-6 medium-6 small-6 columns">
                  <label for="right-label" class="right inline">$labels.getString("project.general.name")</label>
                </div>
                <div class="large-10 medium-10 small-10 columns">
                  <div class="large-16 medium-16 small-16 row collapse">
                    <div class="large-14 medium-14 small-14 columns">
                      <input id="project_general_name" class="general_input" type="text" placeholder="name (no spaces)">
                    </div>
                    <div class="large-2 medium-2 small-2 columns">
                      <span class="postfix">.crpx</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="large-16 medium-16 small-16 row">
                <!-- Project AUTHOR -->
                <div class="large8 medium-8 small-8 columns">
                  <div class="row">
                    <div class="large-6 medium-6 small-6 columns">
                      <label for="right-label" class="right inline">$labels.getString("project.general.author")</label>
                    </div>
                    <div class="large-10 medium-10 small-10 columns">
                      <input id="project_general_author" class="general_input" type="text" placeholder="creator of this project">
                    </div>
                  </div>
                </div>
                <!-- Project PRJTYPE -->
                <div class="large8 medium-8 small-8 columns">
                  <div class="row">
                    <div class="large-6 medium-6 small-6 columns">
                      <label for="right-label" class="right inline">$labels.getString("project.general.prjtype")</label>
                    </div>
                    <div class="large-10 medium-10 small-10 columns">
                      <select id="project_general_prjtype" class="general_input"  placeholder="kind of project">
                        ${prjtypelist}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project's GOAL -->
              <div class="large-12 medium-12 small-12 row">
                <label>$labels.getString("project.general.goal")
                  <textarea id="project_general_goal" spellcheck="false" placeholder="goal of this project" rows="3"></textarea>
                </label>
              </div>
            </div>
            <!-- The top-right contains data and project-specific preferences -->
            <div id="project_general_right" class="large-5 medium=5 small-5 columns">
              <fieldset><legend>Dates</legend>
                <div class="row">$labels.getString("project.general.datecreated"): 
                  <div id="project_general_datecreated" class="project_general_date">-</div></div>
                <div class="row">  </div>
                <div class="row">$labels.getString("project.general.dateedited"): 
                  <div id="project_general_datechanged" class="project_general_date">-</div></div>
                <div class="row">  </div>
              </fieldset>
            <!-- ======================= THIS should not longer be necessary
              <div class="row collapse">
                <input type="checkbox" id="project_general_showsyn">
                <label for="project_general_showsyn">$labels.getString("project.general.showsyn")</label>
              </div>
              ========================== -->
              <fieldset><legend>Additional</legend>
                <div class="row">
                  <input type="checkbox" id="project_general_dbase">
                  <label for="project_general_dbase">$labels.getString("project.general.dbase")</label>
                </div>
              </fieldset>
            </div>
          </div>
          <!-- The bottom contains the comments for this project -->
          <div id="project_general_bottom" class="large-16 medium-16 small-16 row">
            <label>$labels.getString("project.general.comments"):
              <textarea id="project_general_comments"  spellcheck="false" placeholder="Comments on this project" rows="20"></textarea>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- EXTINCT
<div id="project_status" class="large-16 medium-16 small-16">
  <p></p>
</div>
-->

