#parse("header.vm")
		#set($project = $labels.getString("project"))
		#set($input = $labels.getString("input"))
		#set($definitions = $labels.getString("definitions"))
		#set($queries = $labels.getString("queries"))
    #set($constructor = $labels.getString("project.qc"))
		#set($result = $labels.getString("result"))
		#set($document = $labels.getString("document"))
		
		<div class="row" id="subnav">
      <!-- List of sub-navigation 'buttons' -->
			<dl id="search-nav" class="sub-nav" data-tab>
      <!-- Sub-navigation item: [project] -->
			#if($tab == "project")
				<dd id="project_link" class="active"><a class="tablink" onclick="Crpstudio.project.switchTab('project_editor', '${recent}')">$project</a></dd>
			#else
				<dd id="project_link"><a class="tablink" onclick="Crpstudio.project.switchTab('project_editor', '${recent}')">$project</a></dd>
			#end
      <!-- Sub-navigation item: [input] -->
			#if($tab == "input")
				<dd id="input_link" class="active"><a class="tablink" onclick="Crpstudio.project.switchTab('input_editor')">$input</a></dd>
			#else
				<dd id="input_link"><a class="tablink" onclick="Crpstudio.project.switchTab('input_editor')">$input</a></dd>
			#end
      <!-- Sub-navigation item: [Definitions] -->
			#if($tab == "definitions")
				<dd id="definitions_link" class="active"><a class="tablink" onclick="Crpstudio.project.switchTab('definition_editor')">$definitions</a></dd>
			#else
				<dd id="definitions_link"><a class="tablink" onclick="Crpstudio.project.switchTab('definition_editor')">$definitions</a></dd>
			#end
      <!-- Sub-navigation item: [queries] -->
			#if($tab == "queries")
				<dd id="queries_link" class="active"><a class="tablink" onclick="Crpstudio.project.switchTab('query_editor')">$queries</a></dd>
			#else
				<dd id="queries_link"><a class="tablink" onclick="Crpstudio.project.switchTab('query_editor')">$queries</a></dd>
			#end
      <!-- Sub-navigation item: [constructor] -->
			#if($tab == "constructor")
				<dd id="constructor_link" class="active"><a class="tablink" onclick="Crpstudio.project.switchTab('constructor_editor')">$constructor</a></dd>
			#else
				<dd id="constructor_link"><a class="tablink" onclick="Crpstudio.project.switchTab('constructor_editor')">$constructor</a></dd>
			#end
      <!-- On the navigation bar: [execution] -->
      <dd id="project_executor">
        <button onclick="Crpstudio.project.execute(true)" class="search small">
          <span>$labels.getString("project.execute")</span>
        </button>
      </dd>
      <dd id="project_executor_nocache">
        <button onclick="Crpstudio.project.execute(false)" class="search small">
          <span>$labels.getString("project.execute")</span> (no cache)
        </button>
      </dd>
      <!-- On the navigation bar: [SAVING changes] -->
      <dd id="project_saving">
        <button onclick="Crpstudio.project.histSave(true)" class="small">
          <span>$labels.getString("project.save")</span>
        </button>
      </dd>
      <!-- Spacer between projects and results -->
			#if($tab == "result" || $tab == "document")
				<dd id="link-spacer">||</dd>
			#else
				<dd id="link-spacer" class="hide">||</dd>
			#end
      <!-- Sub-navigation item: [result] -->
			#if($tab == "result")
				<dd id="result_link" class="sub-sub-nav active">|| <a class="tablink" onclick="Crpstudio.project.switchTab('result_display')">$result</a></dd>
			#else
				<dd id="result_link" class="sub-sub-nav hide"><a class="tablink" onclick="Crpstudio.project.switchTab('result_display')">$result</a></dd>
			#end
      <!-- Sub-navigation item: [document] -->
			#if($tab =="document")
				<dd id="document_link" class="sub-sub-nav active"><a class="tablink" onclick="Crpstudio.project.switchTab('document_display')">$document</a></dd>
			#else
				<dd id="document_link" class="sub-sub-nav hide"><a class="tablink" onclick="Crpstudio.project.switchTab('document_display')">$document</a></dd>
			#end
			</dl>
		</div>
		
		<div class="row tabs-content" id="search">
			#set($meta = "")
			#set($project_active = "")
      #set($input_active = "")
			#set($definitions_active = "")
			#set($queries_active = "")
			#set($constructor_active = "")
      #set($dbfeat_active = "")
			#set($result_active = "")
      #set($document_active = "")
		
      <!-- Initially set database list to hidden -->
      #set($dbasesel = "hidden")
      <!-- Determine the meta and corpus list selection from the main tab -->
			#if($tab == "project")
				#set($project_active = "active")
        #set($meta = "hidden")
        #set($crpsel = "")
			#elseif($tab == "input")
				#set($input_active = "active")
				#set($meta = "")
        #set($crpsel = "")
			#elseif($tab == "definitions")
				#set($definitions_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
			#elseif($tab == "queries")
				#set($queries_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
			#elseif($tab == "constructor")
				#set($constructor_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
      #elseif($tab == "dbfeat")
        #set($dbfeat_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
			#elseif($tab == "result")
				#set($result_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
			#elseif($tab == "document")
				#set($document_active = "active")
				#set($meta = "hidden")
        #set($crpsel = "hidden")
			#end
			
      #set( $item_rec = "" )
      #set( $item_list = "" )
      <div id="corpus-selector" $crpsel>
        <!-- small combobox corpus selector -->
        #parse("crpsel.vm")
      </div>
      <div id="dbase-selector" $dbasesel>
        <!-- small combobox dbase selector -->
        #parse("dbasesel.vm")
      </div>
			<div id="metadata" $meta>
        <!-- awaits implementation -->
				#parse("metadata.vm")
			</div>
			<div id="project_editor" class="large-16 medium-16 small-16 content $project_active">
        #set( $explorespec = $explorespecs.get(5) )
        #set( $item_rec = $recentcrp )
        #set( $item_list = $projectlist )
        #parse("selector.vm")
				#parse("projectmain.vm")
			</div>
			<div id="input_editor" class="large-16 medium-16 small-16 content $input_active">
				#parse("input.vm")
			</div>
			<div id="definition_editor" class="large-16 medium-16 small-16 content $definitions_active">
        #set( $explorespec = $explorespecs.get(1) )
        #set( $item_list = "" )
        #set( $item_rec  = "" )
        #parse("selector.vm")
				#parse("definitions.vm")
			</div>
			<div id="query_editor" class="large-16 medium-16 small-16 content $queries_active">
        #set( $explorespec = $explorespecs.get(0) )
        #set( $item_list = "" )
        #set( $item_rec  = "" )
        #parse("selector.vm")
				#parse("queries.vm")
			</div>
			<div id="dbfeat_editor" class="large-16 medium-16 small-16 content $dbfeat_active">
        #set( $explorespec = $explorespecs.get(3) )
        #set( $item_list = "" )
        #set( $item_rec  = "" )
        #parse("selector.vm")
				#parse("dbfeat.vm")
			</div>
			<div id="constructor_editor" class="large-16 medium-16 small-16 content $constructor_active">
        #set( $explorespec = $explorespecs.get(2) )
        #set( $item_list = "" )
        #set( $item_rec  = "" )
        #parse("selector.vm")
				#parse("constructor.vm")
			</div>
			<div id="result_display" class="large-16 medium-16 small-16 content $result_active">
				#parse("result.vm")
			</div>
			<div id="document_display" class="large-16 medium-16 small-16 content $document_active">
			</div>
			
		</div>
<script  type="text/javascript">
  window.onload = Crpstudio.project.switchTab("project_editor", "", true);
</script>
#parse("footer.vm")

