  <!-- the part to the right of the side-bar: NEW query creation form -->
  <div id="query_new_create" class="large-12 medium-12 small-12 columns hidden">
    <form>
      <fieldset>
        <legend>$labels.getString("query.new.intro")</legend>
        <div id="query_new" class="large-16 medium-16 small-16 row">
          <div id="query_new_top" class="large-16 medium-16 small-16 row">
            <!-- Query NAME -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-2 medium-3 small-4 columns">
                <label for="right-label" class="left inline">$labels.getString("query.general.name")</label>
              </div>
              <div class="large-9 medium-8 small-7 columns left">
                <input id="query_new_name" class="left general_input" type="text" placeholder="name (no spaces)">
                <small id="query_new_name_error" class="hidden">Name must be new and not have spaces</small>
              </div>
            </div>
            <!-- Query's GOAL -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-2 medium-3 small-4 columns">
                <label for="right-label" class="left inline">$labels.getString("query.general.goal")</label>
              </div>
              <div class="large-14 medium-13 small-12 columns">
                <input id="query_new_goal" class="left general_input" type="text" placeholder="This query's goal is ...">
              </div>
            </div>
            <!-- Query TYPE: user may select one of them for the creation -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-2 medium-3 small-4 columns left">
                <label for="right-label" class="left inline">$labels.getString("query.new.qrytype")</label>
              </div>
              <div class="large-10 medium-10 small-10 columns left">
                <select id="query_new_qrytype" class="left general_input"  placeholder="start query..."
                        onchange="crpstudio.xquery.newQueryType(this)">
                  ${qrytypelist}
                </select>
              </div>
            </div>
            <!-- Query BUILDER (this will be filled in mostly programmatically) -->
            <div id="query_new_builder" class="large-16 medium-16 small-16 row hidden">
              <!-- Specification of where to start -->
              <div class="large-16 medium-16 small-16 row collapse prefix-radius">
                <!-- Order: [Label] - [search] - [combo 'type'] -->
                <div class="large-2 medium-3 small-4 columns left">
                  <label for="right-label" class="left inline">$labels.getString("query.build.start")</label>
                </div>
                <div class="large-2 medium-2 small-2 columns"><span class="prefix">search</span></div>
                <!-- list of constituent types -->
                <div class="large-4 medium-4 small-4 columns left">
                  <select id="query_new_cnstype" class="left general_input"  placeholder="start query...">
                    ${cnstypelist}
                  </select>
                </div>
              </div>
              <!-- Other constituents that are part of the construction to look for -->
              <div id="query_new_constituents"
                   class="large-offset-2 medium-offset-3 small-offset-4 large-14 medium-13 small-12 row hidden">
                <div>$labels.getString("query.build.constituents")</div>
                <table class="" cellspacing="0" width="100%">
                  <thead><tr>
                    <th>$labels.getString("query.build.cns.name")</th>
                    <th>$labels.getString("query.build.cns.type")</th>
                    <th>$labels.getString("query.build.cns.relation")</th>
                    <th>$labels.getString("query.build.cns.position")</th>
                    <th>$labels.getString("query.build.cns.towards")</th>
                  </tr></thead>
                  <tbody id="query_new_cns">
                    <!-- this is filled in programmatically -->
                  </tbody>
                </table>
              </div>
              <!-- Additional conditions on one or more of the constituents -->
              <div id="query_new_additional" 
                   class="large-offset-2 medium-offset-3 small-offset-4 large-14 medium-13 small-12 row hidden">
                <div>$labels.getString("query.build.additional")</div>
                <table class="" cellspacing="0" width="100%">
                  <thead><tr>
                    <th>$labels.getString("query.build.cns.name")</th>
                    <th>$labels.getString("query.build.cns.relation")</th>
                    <th>$labels.getString("query.build.cns.position")</th>
                    <th>$labels.getString("query.build.cns.towards")</th>
                  </tr></thead>
                  <tbody id="query_new_cnd">
                    <!-- this is filled in programmatically -->
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Query QC checkbox: specify whether query should be put into QC or not -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-14 medium-13 small-12 large-offset-2 medium-offset-3 small-offset-4 columns left">
                <input type="checkbox" id="query_new_qc">
                <label for="query_new_qc">$labels.getString("query.new.qc")</label>
              </div>
            </div>
            <!-- Query DB output checkbox: specify whether query outputs features to a result database -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-14 medium-13 small-12 large-offset-2 medium-offset-3 small-offset-4 columns left">
                <input type="checkbox" id="query_new_db">
                <label for="query_new_db">$labels.getString("query.new.db")</label>
              </div>
            </div>
            <!-- Query's COMMENT -->
            <div class="large-16 medium-16 small-16 row">
              <label>$labels.getString("query.general.comments")
                <textarea id="query_new_comment" spellcheck="false" placeholder="Description of this query" rows="10"></textarea>
              </label>
            </div>   
          </div>
          <div id="query_new_buttons"  class="large-16 medium-16 small-16 row">
            <a href="#" onclick="crpstudio.project.createItem('query','new');" class="button search small radius">$labels.getString("query.new.create")</a>
            <a href="#" onclick="crpstudio.project.createItem('query','cancel');" class="button search small radius">$labels.getString("query.new.cancel")</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>