  <!-- the part to the right of the side-bar: GENERAL contents of this query -->
  <div id="query_general_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="query_description" class="large-16 medium-16 small-16 row">
          <i>(no query selected)</i>
        </div>
        <div id="query_general" class="large-16 medium-16 small-16 row hidden">
          <div id="query_general_top" class="large-16 medium-16 small-16 row">
            <!-- Query NAME + GOAL -->
            <div class="large-16 medium-16 small-16 row">
              <div class="large-12 medium-12 small-12 columns">
                <div class="row">
                  <!-- Query NAME -->
                  <div class="large-2 medium-3 small-4 columns">
                    <label for="right-label" class="left inline">$labels.getString("query.general.name")</label>
                  </div>
                  <div class="large-14 medium-13 small-12 columns">
                    <input id="query_general_name" class="left general_input" type="text" placeholder="name (no spaces)">
                    <small id="query_general_name_error" class="hidden">Name must be new and not have spaces</small>
                  </div>
                </div>
                <div class="row">
                <!-- Query GOAL -->
                  <div class="large-2 medium-3 small-4 columns">
                    <label for="right-label" class="left inline">$labels.getString("query.general.goal")</label>
                  </div>
                  <div class="large-14 medium-13 small-12 columns">
                    <input id="query_general_goal" class="left general_input" type="text" placeholder="This query's goal is ...">
                  </div>
                </div>
              </div>
              <div class="large-4 medium-4 small-4 columns">
                <!-- Query DATE CREATED -->
                <div class="row">$labels.getString("query.general.datecreated"): 
                  <div id="query_general_datecreated" class="crpstudio_general_date">-</div></div>
                <div class="row">  </div>
                <!-- Query DATE EDITED -->
                <div class="row">$labels.getString("query.general.dateedited"): 
                  <div id="query_general_datechanged" class="crpstudio_general_date">-</div></div>
                <div class="row">  </div>
              </div>
            </div>
            <!-- Query's COMMENT -->
            <div class="large-16 medium-16 small-16 row">
              <label>$labels.getString("query.general.comments")
                <textarea id="query_general_comment" spellcheck="false" placeholder="Description of this query" rows="3"></textarea>
              </label>
            </div>          
          </div>
          <!-- XQUERY TEXT: The bottom contains the text of the query itself -->
          <div id="query_general_bottom" class="large-16 medium-16 small-16 row cm-s-default" onclick="crpstudio.project.toggleBottom('query')">
            <label><span>$labels.getString("query.general.text"):</span>
                   <span id="query_general_bottom_large" class="clickable">$labels.getString("query.general.large")</span>
                   <span id="query_general_bottom_small" class="clickable hidden">$labels.getString("query.general.small")</span>
            </label>
            <textarea id="query_general_text" spellcheck="false" placeholder="Text of this query" rows="20"></textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
