#set($abbr = "qry")
#set($full = "query")
#set($listhead = $labels.getString("queries"))
#set($new_manual = $labels.getString("query.create.manual"))
#set($new_wizard = $labels.getString("query.create.wizard"))

<!-- side bar: names of queries in this project -->
<div id="querylist" class="large-16 medium-16 small-16 row">


  <!-- the left side-bar used for selecting a query -->
  <div id="query_selector" class="large-4 medium-4 small-4 columns">
    <div class="sidebar">
      <h5>${queries}</h5>
      <div id="query_download" class="row hidden">
        <span>$labels.getString("result.export.intro"): </span>
        <span id="query_download_file"></span>
      </div>
      <nav>
        <ul id="query_list" class="side-nav">
          <!-- Actions to CREATE/ADD/LOAD a query -->
          <li class="heading qry-new" onclick="Crpstudio.query.sideToggle(this, 'qry-new')"><label>$labels.getString("query.new")</label></li>
          <li class="qry-new hidden">
            <a id="query-upload" onclick="$('#query-upload-input').click();">$labels.getString("query.upload")</a>
            <input id="query-upload-input" class="uploadfile" type="file" onchange="Crpstudio.query.uploadQryFile(this);">
          </li>
          <li class="qry-new hidden"><a id="query-createM" href="#" onclick="$new_manual(this);">
            $labels.getString("query.create.manual")</a></li>
          <li class="qry-new hidden"><a id="query-createW" href="#" onclick="Crpstudio.query.createWizard(this);">
            $labels.getString("query.create.wizard")</a></li>

          <!-- Actions on CURRENTLY loaded query -->
          <li class="divider qry-current"></li>
          <li class="heading qry-current" onclick="Crpstudio.query.sideToggle(this, 'qry-current')">
            <label>$labels.getString("query.current")</label></li>
          <li class="qry-current hidden"><a id="query-download" href="#" onclick="Crpstudio.query.downloadQryFile(this);">
            $labels.getString("query.download")</a></li>
          <li class="qry-current hidden"><a id="query-remove" href="#" onclick="Crpstudio.query.removeQryFile(this);">
            $labels.getString("query.remove")</a></li>

          <!-- List of AVAILABLE Queries -->
          <li class="divider qry-available"></li>
          <li class="heading qry-available" onclick="Crpstudio.query.sideToggle(this, 'qry-available')">
            <label>$labels.getString("query.available")</label></li>
          <!-- ${querytable} -->
        </ul>
      </nav>
      <div id="query_status">
      </div>
    </div>
  </div>

  <!-- the part to the right of the side-bar: GENERAL contents of this query -->
  <div id="query_editor" class="large-12 medium-12 small-12 columns">
    <form>
      <fieldset>
        <legend>$labels.getString("general")</legend>
        <div id="query_description" class="large-16 medium-16 small-16 row">
          <i>(no query selected)</i>
        </div>
        <div id="query_general" class="large-16 medium-16 small-16 row hidden">
          <div id="query_general_top" class="large-16 medium-16 small-16 row">
            <!-- The top-left contains name, author, type and goal -->
            <div id="query_general_left" class="large-11 medium-11 small-11 columns">
              <!-- Project NAME -->
              <div class="large-16 medium-16 small-16 row">
                <div class="large-6 medium-6 small-6 columns">
                  <label for="right-label" class="right inline">$labels.getString("query.general.name")</label>
                </div>
                <div class="large-10 medium-10 small-10 columns">
                  <div class="large-16 medium-16 small-16 row collapse">
                    <div class="large-14 medium-14 small-14 columns">
                      <input id="query_general_name" class="general_input" type="text" placeholder="name (no spaces)">
                    </div>
                    <div class="large-2 medium-2 small-2 columns">
                      <span class="postfix">.crpx</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="large-16 medium-16 small-16 row">
                <!-- Query AUTHOR -->
                <div class="large8 medium-8 small-8 columns">
                  <div class="row">
                    <div class="large-6 medium-6 small-6 columns">
                      <label for="right-label" class="right inline">$labels.getString("query.general.author")</label>
                    </div>
                    <div class="large-10 medium-10 small-10 columns">
                      <input id="query_general_author" class="general_input" type="text" placeholder="creator of this project">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Query's GOAL -->
              <div class="large-12 medium-12 small-12 row">
                <label>$labels.getString("query.general.goal")
                  <textarea id="query_general_goal" spellcheck="false" placeholder="goal of this project" rows="3"></textarea>
                </label>
              </div>
            </div>
            <!-- The top-right contains data and query-specific preferences -->
            <div id="query_general_right" class="large-5 medium=5 small-5 columns">
              <fieldset><legend>Dates</legend>
                <div class="row">$labels.getString("query.general.datecreated"): 
                  <div id="query_general_datecreated" class="query_general_date">-</div></div>
                <div class="row">  </div>
                <div class="row">$labels.getString("query.general.dateedited"): 
                  <div id="query_general_datechanged" class="query_general_date">-</div></div>
                <div class="row">  </div>
              </fieldset>
            </div>
          </div>
          <!-- The bottom contains: (1) the comments for this project -->
          <div id="query_general_bottom" class="large-16 medium-16 small-16 row">
            <label>$labels.getString("query.general.comments"):
              <textarea id="query_general_comments"  spellcheck="false" placeholder="Comments on this query" rows="20"></textarea>
            </label>
          </div>
          <!-- The bottom contains: (2) the text of the query itself -->
          <div id="query_general_bottom" class="large-16 medium-16 small-16 row">
            <label>$labels.getString("query.general.text"):
              <textarea id="query_general_comments"  spellcheck="false" placeholder="Text of this query" rows="20"></textarea>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>